default install-alpha
label install-alpha
	menu label ^Install Alpha Channel
	menu default
	kernel coreos-alpha/coreos_production_pxe.vmlinuz
	append initrd=coreos-alpha/coreos_production_pxe_image.cpio.gz console=tty0
#	append initrd=coreos-coreos_production_pxe_image.cpio.gz cloud-config-url=http://example.com/pxe-cloud-config.yml

label install-beta
	menu label ^Install Beta Channel
	kernel coreos-beta/coreos_production_pxe.vmlinuz
	append initrd=coreos-beta/coreos_production_pxe_image.cpio.gz console=tty0
#	append initrd=coreos-coreos_production_pxe_image.cpio.gz cloud-config-url=http://example.com/pxe-cloud-config.yml

label install-stable
	menu label ^Install Stable Channel
	kernel coreos-stable/coreos_production_pxe.vmlinuz
	append initrd=coreos-stable/coreos_production_pxe_image.cpio.gz console=tty0
#	append initrd=coreos-coreos_production_pxe_image.cpio.gz cloud-config-url=http://example.com/pxe-cloud-config.yml
